--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio

secml-torch
requests
matplotlib
robustbench
tensorboard

setuptools<82
wheel
git+https://github.com/fra31/auto-attack